**Get Job Title of 10th person in employees table with respect to insertion in the table.**

    select jobTitle from employees limit 10;

**Get OrderNumber from OrderDetails Tables where quantityOrdered is equal to 59 and priceEach is greater than 100**

    SELECT OrderNumber FROM OrderDetails 
    WHERE quantityOrdered=59 
    AND priceEach>100;

                                            ##aggregae fucntion

**Find the number of distinct country names in the customers table.**


    SELECT Count(DISTINCT country) FROM customers;


**From Table-orderdetails get the number of records where quantityOrdered is greater than 50**

    SELECT Count(*) FROM orderdetails WHERE quantityOrdered>50;

Get sum of all payments from

    i) 2002-01-01 to 2003-01-01
    ii) 2003-01-01 to 2004-01-01
    iii) 2004-01-01 to 2005-01-01
    
Which time range has the maximum payment?

    select sum(amount) from payments where paymentdate > "2004-01-01" and paymentDate < "2005-01-01";

**Count the total number (quantity in stock) of motorcycles in products table**

    SELECT SUM(quantityInStock) FROM products where productLine='Motorcycles';

**Update MSRP of motorcycles to 100 in the products table and get the sum of MSRP of motorcycles.**
    
    UPDATE products set MSRP=100 WHERE productLine=’Motorcycles’.

# SQL 2

**Get sum of quantityordered of each ordernumber from orderdetails table and tell output of orderNumber = 10425**

        select orderNumber, sum(quantityOrdered) from orderdetails where orderNumber=10425 group by orderNumber ;

**Which productCode was ordered the most?**

    The following query can be used to find the order frequency of all the productCode. Most ordered productCode is found after analysing the result of the query.
    SELECT  productCode,Count(*) FROM orderdetails group by  productCode;


    answer is S18_3232

**Get sum of price paid by customerNumber 473 on 2003-10-27 from payments table;**

*there are two ways*

    1. select customerNumber ,sum(amount) from payments where paymentDate = "2003-10-27" and customerNumber = 473;
    
    2. select customerNumber ,sum(amount) from payments where paymentDate = "2003-10-27" group by customerNumber;

**List the productLines that has quantity in stock more than 50000. Sort the result in increasing order of quantity. Write down the name of the product Line which has the lowest quantity in stock.**

    SELECT productLine,SUM(quantityInStock) FROM products GROUP BY productLine HAVING SUM(quantityInStock)>50000 ORDER BY SUM(quantityInStock) ;

**NOT IN**

    select productName, productLine, quantityInStock, buyPrice, MSRP from products where productLine in ("Trucks and buses","Trains",'Planes') and quantityInStock > 8000 order by quantityInStock ;

**Get employeeNumber of President and VP sales.**
    
    SELECT employeeNumber FROM employees WHERE jobTitle IN (‘President, ‘VP Sales'); 
answer is 1002,1056

**Get details of those employees who don't report to President and VP sales (use employeeNumber from last result).**

        SELECT employeeNumber FROM employees WHERE reportsTo NOT IN (1002, 1056); 

answer is 

1166,1165,1188 

1216,1286,1323,1337

**Get Different productLines whose msrp is in between 50 and 90 and they are not from productLine ‘Ships’ and ‘Planes’ (Use the original products table) .**

    SELECT DISTINCT productLine FROM products WHERE MSRP BETWEEN 50 AND 90 AND productLine NOT IN ('Ships','Planes');
answer is  
Classic Cars, Motorcycles, Trains, Trucks and Buses, Vintage Cars

# LIKE

**Get details of those employees whose first name starts with ‘L’ and reports to 1143.**  
   
      SELECT firstName,lastName FROM employees WHERE firstName LIKE 'L%' AND reportsTo=1143;

**Get phone number of customer whose customerName has ‘to-Mo’ In between the name from customers table**   
    
    SELECT phone from customers WHERE customerName LIKE ‘%to-Mo%’;

answer is 6175558428

                                        #INNER JOINS

**Tick the correct order numbers of 'Atelier graphique' (customer name) from orders and customer table**

    select orderNumber from orders join customers on orders.customerNumber = customers.customerNumber
    where customerName = "Atelier graphique";

**Get sum of priceEach for orderNumber 10300 and customerNumber = 128 from order and orderdetails table**

    select sum(orderdetails.priceEach) from orders inner join orderdetails
    on orders.orderNumber = orderdetails.orderNumber
    where orders.orderNumber = 10300 and orders.CustomerNumber = 128;

answer is 798.48

Get sum of priceeach from orderdetails table for customer name ’Atelier graphique’ from customers table matching orderNumber from orders table

    select sum(orderdetails.priceEach) from orderdetails join orders
    -> on orderdetails.orderNumber = orders.orderNumber
    -> join customers
    -> on orders.customerNumber = customers.customerNumber
    -> where customers.customerName = "Atelier graphique";

answer is 601.49

                                    #LEFT OUTER JOIN OR RIGHT OUTER JOIN

**Number of Rows after left joining payments and customers table**

    select count(*) from payments left join
    -> customers on
    -> payments.customerNumber = customers.customerNumber;

answer is 273