### problem : 1

In [4]:
import sqlite3 as sq
db = sq.connect("Employees.sqlite")
curr = db.cursor()

In [5]:
sql_query = 'create table Employee_Details(EmployeeID int primary key, Name text, Age int, Department text, Salary int  )'
curr.execute(sql_query)

In [6]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

value = []
lenght = len(name)
for i in range(lenght):
    l = []
    l.append(employee_id[i])
    l.append(name[i])
    l.append(age[i])
    l.append(department[i])
    l.append(salary[i])
    t = tuple(l)
    value.append(t)

sql_qery = "insert into Employee_Details values (?,?,?,?,?)"
curr.executemany(sql_qery,value)
db.commit()

### problem : 2

In [8]:
import sqlite3 as sq 
db = sq.connect("Employees.sqlite")
curr = db.cursor()

In [16]:
curr.execute("select Employee_id from Employee_Detail where Department = 'Finance'")
data = curr.fetchall()
for i in data :
    print(i[0])

103
107

In [19]:
import sqlite3 as sq 

db = sq.connect("Employees.sqlite")
curr =  db.cursor()

In [20]:
curr.execute("select Department, count(*) from Employee_detail group by department")
data = curr.fetchall()
for i in data :
    print(*i)

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2

In [ ]:
import pandas as pd 
data = pd.DataFrame([[1,"aman",20],[2,"Amit",21],[3,"Ankush",30],[4,"Nidhi",22],[4,"Manish",23]],columns=["ID","Name","Age"])
data
data.to_sql("Faculty",db)

In [37]:
data["address"] = "test"
data.to_sql("Faculty",db,if_exists="replace")

5

In [38]:
curr.execute("alter table faculty drop column address")
db.commit()

In [65]:
curr.execute("drop table Employee_details")

### Problem 3  
**Count Genre**

    IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
    Find the count of each genre present in IMDB movie dataset?
    Print the Genre and number of movies present in that genre.
    Note: Ignore the empty value present in genre.

In [1]:
import sqlite3 as sq
import pandas as pd 
db = sq.connect("IMDB.sqlite")
curr = db.cursor()

In [2]:
data = pd.read_sql_query("Select * from genre",db)
data = data[data.genre!=""]
data = data["genre"].value_counts()
index = data.index
value = data.values
for i,j in zip(index,value):
    print(i,j)

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Animation 13
Romance 13
Crime 11
Mystery 7
Fantasy 7
History 6
Family 3
Sport 3
Music 3
Western 2
War 2
Horror 2
Musical 1

In [4]:
import sqlite3 as s
db = s.connect("IMDB.sqlite")
curr = db.cursor()

In [16]:
curr.execute("select genre,count(*) from genre where genre is not null group by genre")
data = curr.fetchall()
# print(data)
# for i in data :
#     print(*i)
for i in range(len(data)):
    if i!=0 :
        print(*data[i])

Action 33
Adventure 43
Animation 13
Biography 21
Comedy 31
Crime 11
Drama 77
Family 3
Fantasy 7
History 6
Horror 2
Music 3
Musical 1
Mystery 7
Romance 13
Sci-Fi 18
Sport 3
Thriller 14
War 2
Western 2

### Problem : 4 

**IMDB Movie**


IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.
Print the rating of that movie.

In [17]:
import sqlite3 as s
import pandas as pd 
db = s.connect("IMDB.sqlite")
data  = pd.read_sql_query("Select Rating, Domestic, Worldwide from earning join IMDB on earning.Movie_id = IMDB.movie_id",db)

     Rating   Domestic     Worldwide
0       8.1   56671993  1.877332e+08
1       7.6   18335230  6.073880e+07
2       7.7   35014192  3.918778e+07
3       7.8   15322921  8.710045e+07
4       7.9    6739492  1.983949e+07
..      ...        ...           ...
112     8.5   13092000  4.898204e+07
113     7.7  189422889  4.712229e+08
114     8.0  233921534  7.478628e+08
115     7.8  146408305  3.536241e+08
116     8.1  341268248  1.023784e+09

[117 rows x 3 columns]

In [43]:
data["Total"] = data.Domestic + data.Worldwide
data = data[data.Total == max(data.Total)]
val = data["Rating"].values[0]
print(val)
# val = data.iloc[:,:1]
# print(val)

8.1